*{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.main{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(240, 248, 255, 0.241) !important;
}
.logo img{
    height: 4rem;
    width: 9rem;
}
.nav-bar{
    display: flex;
    width: 50%;
    justify-content: space-around;
    align-items: center;
    font-size: 1.3rem;
}
.btn1{
    padding: 0.6rem;
    width: 10rem;
    border-radius: 5px;
    background-color:rgb(10, 113, 187) ;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
.nav-bar div:hover{
    color: rgb(10, 113, 187);
    text-decoration: underline;
    cursor: pointer;
}
.hero{
    height: 90vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.341) , rgba(0, 0, 0, 0.385)) , url('./mike-swigunski-_5xgPKGepgc-unsplash.jpg');
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}
.connection{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    top: 20rem;
    left: 20rem;

}
.hero h2{
    font-size: 4rem;
    color: aliceblue;
    font-family: Lucida Handwriting , Apple Chancery , Brush Script ;
}
input[type="text"]{
    border:none;
    height: 3rem;
    width: 17rem;
    background-color:rgba(255, 255, 255, 0.39);
    color: rgb(10, 113, 187);
}
.btn2{
    height: 3rem;
    width: 10rem;
    border-radius: 5px;
    background-color:rgb(10, 113, 187) ;
    color: aliceblue;
    border: none;
    cursor: pointer;
}
input[type="text"]::placeholder{
    text-align: center;
    color: black;
    font-size: 1rem;
    color:rgb(0, 1, 2)  ;
}
input[type="text"]:focus{
    border: none !important;
}
.section{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}
.facility{
    display: flex;
    justify-content: space-around;
    width: 80%;

}
.bank{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.wifi{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.swiming{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.rooms{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hading{
    font-size: 3rem;
    color: rgb(10, 113, 187);
    font-family: Lucida Handwriting , Apple Chancery , Brush Script ;
}
.faci{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.img1{
    height: 40rem;
    width: 30%;
}
.img1 img{
    height: 40rem;
    width: 100%;
    border-radius: 50px;
}
.img2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 40rem;
    width: 40%;
}
.img11{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20rem;
}
.img12{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 20rem;
}
.divimg{
    width: 50%;
    border-radius: 20px;
}
.divimg img{
    width: 100%;
    height: 20rem;
    border-radius: 20px;
}
.divimg2{
    width: 50%;
    border-radius: 20px;
}
.divimg2 img{
    width: 100%;
    height: 20rem;
    border-radius: 20px;
}
.divimg3{
    width: 50%;
    border-radius: 20px;
}
.divimg3 img{
    width: 100%;
    height: 20rem;
    border-radius: 20px;
}
.divimg4{
    width: 50%;
    border-radius: 20px;
}
.divimg4 img{
    width: 100%;
    height: 20rem;
}
.premimum{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
    height: 20vh;
    justify-content: space-between;
}
.premimum h2{
    color: rgb(10, 113, 187);
    font-family: Lucida Handwriting , Apple Chancery , Brush Script ;
}
.premimum h2::before{
    content: "-------";
}
.premimum h2::after{
    content: "-------";
}
.daily{
    height: 25rem;
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 10px;
}
.news{
    width: 100%;
    height: 50%;
    border-radius: 10px;
}
.news img{
    height: 100%;
    width: 100%;
    border-radius: 10px;

}
.timing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.timing h5{
    color: rgb(10, 113, 187);
}
.readmore h5{
    color: rgb(10, 113, 187);
}
.post{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5%;
}
.book{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-top: 10%;
}
.book h2{
    color: rgb(10, 113, 187);
    font-family: Lucida Handwriting , Apple Chancery , Brush Script ;
}
.rm{
    border:none;
    border-radius: 10px;
    color: white;
    background-color: rgb(10, 113, 187);
    padding: 10px;
}
.subs{
    height: 18rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    margin-top: 5%;
}
.forms{
    width: 30%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3rem;box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}
.subs h3{
    font-size: 3rem;
    color: rgb(10, 113, 187);
    font-family: Lucida Handwriting , Apple Chancery , Brush Script ;
}
.input{
    height: 2rem;
    width: 80%;
    background-color: rgba(10, 113, 187, 0.227);
    color: rgb(10, 113, 187);
}
.btn5{
    background-color: rgb(10, 113, 187);
    color: white;
    height: 2rem;
    border: none;
    width: 9rem;
}
#footer{
    border: 1px solid black;
    height: 20rem;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}
.logos{
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 20rem;
}
.logos p{
    text-align: center;
}
.icons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}
.contact{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 14rem;
    width: 20%;
    align-items: center;
    justify-content: space-between;

}
.nav-bar div a{
    text-decoration: none;
}
.help{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 14rem;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}
.presscenter{
    color: aliceblue;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    height: 14rem;
    width: 20%;
    align-items: center;
    justify-content: space-between;
}
